
@{
    ViewBag.Title = "FindRank";
}

@*<h2>FindRank</h2>*@

<div data-role="main" class="ui-content">
    <ul data-role="listview" data-inset="true">
        @* 第一個Loop *@
        @foreach (var m in Model)
        {
            <li>@m.Name</li>
        }
    </ul>
</div>