
@{
    ViewBag.Title = "Repair2";
}

<div data-role="header" data-add-back-btn="true" data-position="fixed" data-theme="b">
    <a href="#" data-role="button" data-rel="back" data-theme="a">返回</a>
    <h1>維修保養(columntoggle)</h1>
</div>

<div data-role="main" class="ui-content">
    <table data-role="table"
           id="table-column-toggle"
           data-mode="columntoggle"
           class="ui-responsive table-stroke table-stripe"
           data-column-btn-text="選擇欄位"
           data-column-btn-theme="b">
        <caption>價目表</caption>
        <thead>
            <tr>
                <th data-priority="1">編號</th>
                <th data-priority="critical">維修項目</th>
                <th data-priority="2">小型車</th>
                @* <th> 不加排名，就不會被勾選 = 一定會存在，比 critical 更 critical *@
                <th>轎車</th>
                <th data-priority="3">休旅車</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>引擎</td>
                <td>3000</td>
                <td>3200</td>
                <td>3500</td>
            </tr>
            <tr>
                <th>2</th>
                <td>機油</td>
                <td>400</td>
                <td>500</td>
                <td>600</td>
            </tr>
            <tr>
                <th>3</th>
                <td>煞車</td>
                <td>699</td>
                <td>750</td>
                <td>800</td>
            </tr>

        </tbody>
    </table>
</div>