@{
    ViewBag.Title = "網站維護者";
}


<div style="margin-bottom:50px;"></div>

<h2>@ViewBag.Title</h2>

<div style="margin-bottom:50px;"></div>

<h3>
    TW SDD4 - Kate Jou
</h3>
<div style="margin-bottom:20px;"></div>
<h4>
    Email:    kate_jou@askey.com
</h4>
<div style="margin-bottom:100px;"></div>
