@{
    ViewBag.Title = "New";
}
<script>
    //選後顯示名稱
    function showName(sele) {
        if (sele.files.length > 0) {
            document.getElementById('fn').innerHTML = sele.files[0].name;
        }
        else {
            alert('沒選');
            document.getElementById('fn').innerHTML = '';
        }
    }

    //檢查有檔案，並上傳
    function submitCheck() {       

        var sele = document.getElementById('upload_select');

        if (sele.value == "") {
            alert('你沒有選檔案');
        }
        else {

            // 顯示 Loading
            sele.disabled = true;
            $('#loading').show();

            //## 透過ajax方式 Post 至Action
            var data = new FormData();
            data.append("UploadedImage", sele.files[0]);
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFile")",
                    contentType: false,         //##  告诉jQuery不要去這置Content-Type
                    processData: false,         //##  告诉jQuery不要去處理發送的數據
                    dataType: "json",
                    data: data
            })
                .done(function (data) {

                    //alert(data.Status);
                    var fn = data.FileName;
                    document.getElementById('status').innerHTML = fn + " 上傳成功";

                    //清空 file input
                    document.getElementById('upload_select').value = '';
                    document.getElementById('fn').innerHTML = '';
                    
                    //解除 Loading
                    $('#loading').hide();
                    sele.disabled = false;

                })
                .fail(function () {

                    alert("上傳不成功");

                    //解除 Loading
                    $('#loading').hide();
                    sele.disabled = false;

                });
        }
    }

</script>
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    存檔後，在File資料夾中，檔名前會加上
    YYYYMMDDHHMMSS
</p>
<br />
@* 如果是要多行，行數還是要可以變動的那種，你要自己去再想想方法去改編 *@

@* 選檔用 *@
<label for="upload_select" class="glyphicon glyphicon-folder-open"></label>
<input id="upload_select" name="TheFile" type="file" style="display:none;" onchange="showName(this);" />
@* 顯示檔名用 *@
<span id="fn" style="margin-left:10px;"></span>
@* 確定上傳用  *@
<button type="submit"
        style="background: none; border: none; padding: 0; margin-left: 10px;"
        onclick="submitCheck();">
    <span class="glyphicon glyphicon-open-file"></span>
</button>
@* 顯示藍色的字用，回報上傳狀態 *@
<div class="spinner-border text-primary" role="status">
    <span style="display:none;" id="loading">Loading...</span>
    <span id="status"></span>
</div>


