@{
    ViewBag.Title = "Query";
}

<br />
<br />
<br />
<br />
<br />
<br />
<p>
    按下載就有一只小貓圖片。
</p>
<a id="test"
   href=@ViewBag.DownloadLink
   target="_blank"
   class="glyphicon glyphicon-save-file"
   download>
</a>
